body {
    margin: 0;
    padding: 0; 
    background-color: steelblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding: 0;
    margin: 10px;
    color: white;
}

button {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px white solid;
    border-radius: 5px;
    padding: 20px 50px 50px;
}

#workspace {
    display: flex;
    flex-direction: column;
}

#brushes {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    min-width: 5svw;
}

#black, #rainbow, #refactor {
    width: 100px;
}

#container {
    display: flex;
    background-color: white;
    border: 1px white solid;
    border-radius: 1px;
    width: 500px;
    height: 500px;
    min-width: 100px;
    min-height: 100px;
}

#container div div {
    border: 0.1px black solid;
    margin: 0;
    padding: 0;
}